body {
  padding-top: 0px;
}
.my-page-header {
  margin: 24px 0 20px;
}
.no-margin {
  margin: 0;
}
.canvas-container {
  padding: 10px 0;
}
.tile-canvas-container {
  padding: 5px 0 0;
}
.tiles {
  background-color: #0f0;
}
.component {
  background-color: #eee;
}
.map-overlay {
  position: absolute;
  background-color: #EEE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 8px;
}
