body {
  padding-top: 0px;
}
.my-page-header {
  padding-bottom: 9px;
  margin: 24px 0 20px;
  border-bottom: 1px solid #eee
}
.no-margin {
  margin: 0;
}
.canvas-container {
  padding: 10px 0;
}
.tileset {
  background-color: #0f0;
}
.component {
  background-color: #eee;
}
