div.tile-levels-modal {
  width: 254px;
}

div.tile-images-modal {
  width: 566px;
}

div.tile-masks-modal {
  width: 350px;
}

div.edit-levels-panel {
  margin: 0 15px;
}

div.edit-level-col {
  padding-left: 0;
  width: 120px;
}

div.level-well {
  margin-bottom: 0;
  padding: 6px;
}

div.edit-tiles-col {
  padding-left: 0px;
}

div.tile-images-col {
  padding-left: 0px;
  width: 363px;
}

div.edit-tiles-item-col {
  padding-left: 0;
}

div.tile-canvas-col {
  padding-left: 0;
  width: 85px;
}

div.tile-controls-col {
  padding-left: 0;
  padding-right: 0;
  width: 176px;
}

span.tile-list-item {
  padding: 4px 15px;
}

li.tile-list-item {
  padding: 9px;
}

button.with-bottom-margin {
  margin: 0 0 5px 0;
}

div.tile-images-panel {
  margin: 0 0 0 15px;
}

div.tile-preview-panel {
  margin-bottom: 0;
  width: 156px;
}

div.tile-masks-panel {
  margin: 0 15px;
}

div.tile-canvas-container {
  padding: 5px 0 0;
}

canvas.tiles {
  background-color: #0f0;
}

canvas.tile-preview {
  background-color: #0f0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.tile-controls {
  padding: 20px 0 0;
}

div.tile-checkbox {
  padding: 16px 6px 0;
}
