div.tile-levels-modal {
  width: 412px;
}

div.tile-images-modal {
  width: 600px;
}

div.tile-masks-modal {
  width: 444px;
}

div.edit-tiles-col {
  padding-left: 0px;
}

div.edit-tiles-item-col {
  padding-left: 5px;
}

button.with-bottom-margin {
  margin: 0 0 5px 0;
}

div.tile-images-panel {
  margin-bottom: 0;
}

div.tile-preview-panel {
  margin-bottom: 0;
  width: 178px;
}

div.tile-masks-panel {
  margin-bottom: 0;
  width: 412px;
}

div.tile-canvas-container {
  padding: 5px 0 0;
}

canvas.tiles {
  background-color: #0f0;
}

div.tile-preview {
  background-color: #0f0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.tile-controls {
  padding: 20px 0 0;
}

div.tile-checkbox {
  padding: 16px 10px 0;
}
