p.with-top-margin {
  margin: 10px 0 0 ;
}

div.component {
  background-color: #eee;
}

div.component-panel-body {
  padding: 12px;
}

div.component-buttons {
  padding-bottom: 10px;
}

button.tile-button {
  padding: 8px 5px 0px 8px;
}

canvas.tile-button-cvs {
  background-color: #fff;
}

button.tile-dropdown {
  padding: 13px 0px 14px 0px;
}

div.reverse {
  transform: scale(-1, 1);
}

div.sprites-modal {
  width: 640px;
}

div.sprites-panel {
  margin-bottom: 0;
}

div.sprite-type-col {
  padding-left: 0;
  width: 120px;
}

div.sprite-level-col {
  padding-left: 0;
  width: 84px;
}

div.edit-sprite-col {
  padding-left: 0;
}

div.sprite-well {
  margin-bottom: 0;
  padding: 6px;
}

div.sprite-location {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.sprite-controls {
  margin-top: 0;
}

span.sprite-list-item {
  padding: 8px 12px;
}
