div.canvas-container {
  padding: 0;
}

div.inner-canvas-container {
  overflow: auto;
  position: relative;
}

div.canvas-container .highlight {
  position: absolute;
  width: 32px;
  height: 32px;
  display: none;
  background: rgba(255, 255, 255, .6);
}
