p.with-top-margin {
  margin: 10px 0 0 ;
}

div.component {
  background-color: #eee;
}

div.component-panel-body {
  padding: 12px;
}

div.component-buttons {
  padding-bottom: 10px;
}

div.canvas-container {
  padding: 0;
}

div.inner-canvas-container {
  overflow: auto;
  position: relative;
}

div.canvas-container .highlight {
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  background: rgba(255, 255, 255, .6);
}

canvas.tiles {
  background-color: #0f0;
}
