p.with-top-margin {
  margin: 10px 0 0 ;
}

button.map-item {
  padding: 6px 15px;
}

div.maps-list {
  margin: 0 15px;
}

div.component {
  background-color: #eee;
}

div.component-panel {
  padding: 10px;
}

div.component-buttons {
  padding-bottom: 10px;
}

button.tile-button {
  padding: 0;
}

div.tile-button-container {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 6px 6px 5px 6px;
}

div.tile-button-container .select-suffix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0 0 20px;
  background: rgba(255, 255, 255, .6);
}

div.tile-button-container .suffix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px 0 0 20px;
}

canvas.tile-button-cvs {
  background-color: #fff;
}

button.tile-dropdown {
  padding: 12px 0px 12px 0px;
}

div.reverse {
  transform: scale(-1, 1);
}

div.resize-map-modal {
  width: 421px;
}


